[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/magit-popup"]
	path = site-lisp/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "site-lisp/ghub"]
	path = site-lisp/ghub
	url = https://github.com/magit/ghub.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git